<mat-dialog-content class="mat-typography">
  <section>
    <div class="main">
      <h1 class="mb-3 subtitle">ACTUALIZAR PERSONA</h1>
      <form [formGroup]="modificarPersona" class="main-form">
        <div class="row mb-4">
          <div class="col">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre">
            <span class="alert alert-danger editarAlerta"
              *ngIf="pNombre?.hasError('required')&&(pNombre?.dirty || pNombre?.touched)">
              {{alert().required.message}}
            </span>
            <span class="alert alert-danger editarAlerta" *ngIf="pNombre?.hasError('pattern')&&(pNombre?.dirty || pNombre?.touched)">
              {{alert().patterN.message}}
            </span>
          </div>
          <div class="col">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" id="telefono" class="form-control" formControlName="telefono">
            <span class="alert alert-danger editarAlerta"
              *ngIf="telefono?.hasError('required')&&(telefono?.dirty || telefono?.touched)">
              {{alert().required.message}}
            </span>
            <span class="alert alert-danger editarAlerta"
              *ngIf="telefono?.hasError('pattern')&&(telefono?.dirty || telefono?.touched)">
              {{alert().patterL.message}}
            </span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            <span class="alert alert-danger editarAlerta" *ngIf="email?.hasError('required')&&(email?.dirty || email?.touched)">
              {{alert().required.message}}
            </span>
            <span class="alert alert-danger editarAlerta" *ngIf="email?.hasError('email')&&(email?.dirty || email?.touched)">
              {{alert().email.message}}
            </span>
          </div>
        </div>
      </form>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div class="row btn-container">
    <div class="col btn-opciones">
      <button id="boton" mat-button class="btn btn-success" [disabled]="!modificarPersona.valid"
        (click)="modificarPersonona()">
        Guardar
      </button>
    </div>
    <div class="col btn-adicionar">
      <button id="boton" mat-button mat-dialog-close class="btn btn-danger">
        Cerrar
      </button>
    </div>
  </div>
</mat-dialog-actions>
