body{background: white;}

.container{
  width: 25vw;
}

.main{
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.center{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}

.subtitle{
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  justify-self: center;
  align-self: center;
}

.botones{
  grid-column: 1/span 2;
  justify-self: center;
  align-self: center;
}

#boton {
  margin-bottom: 10px; /* Espacio inferior entre los botones */
  /* Agrega un borde negro a los botones */
  border: 1px solid black; /* Grosor del borde y color */


}
