<mat-dialog-content class="mat-typography">
  <section class="container">
    <div class="main">
        <h1 class="mb-3 subtitle">CRUD PERSONA</h1>
        <div class="botones" >
          <div class="center">
            <a id="boton" mat-button class="btn btn-success subtitle" (click)="obtenerPersona()">Obtener Persona</a>
          </div>
          <div class="center">
            <a id="boton" mat-button class="btn btn-success subtitle" (click)="agregarPersona()">Agregar persona</a>
          </div>
        </div>
    </div>
  </section>
</mat-dialog-content>
