/* my-component.component.css */

@keyframes animacion {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}


.container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: animacion 1s ease normal ;

}

.card {
  max-width: 500px;
  max-height: 700px;
  padding: 20px;
  box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.3)
}

.main {
  text-align: center;
}

.form-group {
  margin-top: 20px;
}

.form-group h2 {
  margin-bottom: 20px;
  /* Espacio inferior para separar el título de los botones */
}

.button-container {
  margin: 10px 0;
}

/* my-component.component.css */

#boton {
  margin-bottom: 10px;
  /* Espacio inferior entre los botones */

  border: 1px solid black;
  /* Grosor del borde y color */
}

.custom:hover {
  background-color: #DEBACE;
  transition: background-color 0.8s ease;
}

.card-title {
  text-align: center;
  padding-top: 10px;
}
